<div class="row">
	<div class="col-sm-12">
        <div class="card card-header-sticky">
			<div class="card-header">
                <h4>{{ 'ENLACES.TITLE' | translate }}</h4>
                <hr>
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="nuevoEnlace()" class="btn-NuevoRegistro">
                            {{ 'ENLACES.NEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table [dtOptions]="dtColumnSearchingOptions" datatable class="table row-border">
						<thead>
                            <tr>
                                <th>{{ 'ENLACES.NAME' | translate }}</th>
                                <th>{{ 'ENLACES.DESCRIPTION' | translate }}</th>
                                <th>{{ 'ENLACES.RUTA' | translate }}</th>
                                <th>{{ 'ENLACES.STATUS' | translate }}</th>
                                <th>{{ 'PLATAFORMA.OPTIONS' | translate }}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let enlace of enlaceST">
								<td>
									{{ enlace.nombreEnlace }}
								</td>
								<td>
									{{ enlace.descripcionEnlace }}
								</td>
								<td>
									{{ enlace.rutaEnlace }}
								</td>
								<td>
									{{ getEstado(enlace.estadoEnlace?? false)}}
								</td>
								<td style="text-align: center; width: 10%;">
									<div class="d-flex flex-wrap gap-2">
										<button type="button" class="btn btn-icon btn-outline-primary d-inline-flex btnEdit"
                                            (click)="editarEnlace(enlace.enlaceId?? 0)" title="{{ 'ENLACES.UPDATE' | translate }}">
											<i class="feather icon-edit"></i>
										</button>
										<button type="button" class="btn btn-icon btn-outline-danger d-inline-flex btnDelet"
                                            (click)="eliminarEnlace(enlace.enlaceId?? 0, enlace.nombreEnlace?? '')" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'ENLACES.DELETE' | translate }}">
											<i class="feather icon-trash-2"></i>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
                        <tfoot>
							<tr>
								<th>
                                    <input #nombreEnlace
                                        (keyup)="filtrarColumna(0, nombreEnlace.value)"
                                        type="text"
                                        placeholder="{{ 'ENLACES.FILTER_NAME' | translate }}"
                                        name="filtro-nombre"
                                        class="form-control">
                                </th>
								<th>
									<input #descripcionEnlace
										(keyup)="filtrarColumna(1, descripcionEnlace.value)"
										type="text"
										placeholder="{{ 'ENLACES.FILTER_DESCRIPTION' | translate }}"
										name="filtro-descripción"
										class="form-control">
								</th>
								<th>
									<input #rutaEnlace
										(keyup)="filtrarColumna(2, rutaEnlace.value)"
										type="text"
										placeholder="{{ 'ENLACES.FILTER_RUTA' | translate }}"
										name="filtro-ruta"
										class="form-control">
								</th>
								<th>
									<input #estadoEnlace
										(keyup)="filtrarColumna(3, estadoEnlace.value)"
										type="text"
										placeholder="{{ 'ENLACES.FILTER_STATUS' | translate }}"
										name="filtro-estado"
										class="form-control">
								</th>
                                <th>
                                </th>
							</tr>
                        </tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

