<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
    <aside class="aside-left">
        <div class="card">
            <div class="nav-tabs-custom">
                <button [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'">
                    {{ 'PLATAFORMA.MENU' | translate }}
                </button>
                <button [class.active]="activeTab === 'filters'" (click)="activeTab = 'filters'">
                    {{ 'PLATAFORMA.FILTERS' | translate }}
                </button>
            </div>

            <ng-container *ngIf="activeTab === 'menu'">
                <app-nav-content [navigationItems]="menuItems"></app-nav-content>
            </ng-container>
            <ng-container *ngIf="activeTab === 'filters'">
                <div class="p-3 filtros-scroll-wrapper">
                    <DIV class="text-center">
                        <h6>{{ 'ROLES.FILTROS.TITULO' | translate }}</h6>
                    </DIV>
                    <!-- <div class="filtro">
                        <small>{{ 'ROLES.FILTROS.IDENTIFICACION' | translate }}</small>
                        <input type="text" (keyup)="onFiltroIdentificacionChangeClick($event)" class="form-control"
                            placeholder="{{ 'ROLES.FILTROS.IDENTIFICACIONCHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'ROLES.FILTROS.NOMBRE' | translate }}</small>
                        <input type="text" (keyup)="onFiltroNombreChangeClick($event)" class="form-control"
                            placeholder="{{ 'ROLES.FILTROS.NOMBREHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'ROLES.FILTROS.CORREO' | translate }}</small>
                        <input type="text" (keyup)="onFiltroCorreoChangeClick($event)" class="form-control"
                            placeholder="{{ 'ROLES.FILTROS.CORREOHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'ROLES.FILTROS.USERNAME' | translate }}</small>
                        <input type="text" (keyup)="onFiltroUsernameChangeClick($event)" class="form-control"
                            placeholder="{{ 'ROLES.FILTROS.USERNAMEHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'ROLES.FILTROS.DECRIPCION' | translate }}</small>
                        <input type="text" (keyup)="onFiltroDescripcionChangeClick($event)" class="form-control"
                            placeholder="{{ 'ROLES.FILTROS.DESCRIPCIONCHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'ROLES.FILTROS.ESTADO' | translate }}</small>
                        <select (change)="onFiltroEstadoChangeClick($event)" class="form-control" required>
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option value="true">{{ 'PLATAFORMA.ACTIVE' | translate }}</option>
                            <option value="false">{{ 'PLATAFORMA.INACTIVE' | translate }}</option>
                        </select>
                    </div> -->
                </div>
            </ng-container>
        </div>
    </aside>

    <div class="content-area">
        <div class="card">
            <div class="card-header card-header-sticky">
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <h4>{{ 'ROLES.TITLE' | translate }}</h4>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="OnNuevoRegistroClick()" class="btn-NuevoRegistro">
                            {{ 'ROLES.NEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-table content-scroll-wrapper">
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtColumnSearchingOptions" [dtTrigger]="dtTrigger" class="table row-border" #datatableElement>
                        <thead>
                            <tr>
                                <th>{{ 'ROLES.NOMBREAPLICACION' | translate }}</th>
                                <th>{{ 'ROLES.NOMBRESUITE' | translate }}</th>
                                <th>{{ 'ROLES.NOMBREROL' | translate }}</th>
                                <th>{{ 'ROLES.DESCRIPCIONROL' | translate }}</th>
                                <th>{{ 'ROLES.ESTADOROLE' | translate }}</th>
                                <th>{{ 'PLATAFORMA.OPTIONS' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reg of registros">
                                <td>
                                    {{ reg.nombreAplicacion }}
                                </td>
                                <td>
                                    {{ reg.nombreSuite}}
                                </td>
                                <td>
                                    {{ reg.nombreRole }}
                                </td>
                                <td>
                                    {{ reg.descripcionRole }}
                                </td>
                                <td>
                                    {{ reg.nomEstado }}
                                </td>
                                <td style="text-align: center; width: 10%">
                                    <div class="d-flex flex-wrap gap-2">
                                        <button type="button"
                                            class="btn btn-icon btn-outline-primary d-inline-flex btnEdit"
                                            (click)="OnEditarRegistroClick(reg.roleId?? 0)"
                                            title="{{ 'ROLES.UPDATE' | translate }}">
                                            <i class="feather icon-edit"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-icon btn-outline-danger d-inline-flex btnDelet"
                                            (click)="OnEliminarRegistroClick(reg.roleId?? 0, reg.nombreRole?? '')"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="{{ 'ROLES.DELETE' | translate }}">
                                            <i class="feather icon-trash-2"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input #codigoAplicacion (keyup)="filtrarColumna(0, codigoAplicacion.value)"
                                        type="text" placeholder="{{ 'ROLES.FILTER_CODIGOAPLICACION' | translate }}"
                                        name="filtro-codigoAplicacion" class="form-control" />
                                </th>
                                <th>
                                    <input #nombreSuite (keyup)="filtrarColumna(1, nombreSuite.value)"
                                        type="text" placeholder="{{ 'ROLES.FILTER_NAMESUITE' | translate }}"
                                        name="filtro-nombreSuite" class="form-control" />
                                </th>
                                <th>
                                    <input #nombreRole
                                        (keyup)="filtrarColumna(2, nombreRole.value)" type="text"
                                        placeholder="{{ 'ROLES.FILTER_NOMBREROLE' | translate }}"
                                        name="filtro-nombreRole" class="form-control" />
                                </th>
                                <th>
                                    <input #descripcionRole
                                        (keyup)="filtrarColumna(2, descripcionRole.value)" type="text"
                                        placeholder="{{ 'ROLES.FILTER_DESCRIPCIONROLE' | translate }}"
                                        name="filtro-descripcionRole" class="form-control" />
                                </th>
                                <th>
                                    <input #estadoRole (keyup)="filtrarColumna(4, estadoRole.value)"
                                        type="text" placeholder="{{ 'ROLES.FILTRO_STATUS' | translate }}"
                                        name="filtro-estadoRole" class="form-control" />
                                </th>
                                <th>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
