<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <div class="nav-right">
            <app-language-selector></app-language-selector>
        </div>
    </div>
</nav><br><br>
<h1 class="page-title text-center">
    {{ 'PLATAFORMA.TITULO_GRID_APLICACIONES' | translate }}
</h1>
<div class="card-grid-apps">
    <div class="card-grd" *ngFor="let app of aplicaciones" [style.backgroundImage]="'url(' + app.imagenInicio + ')'"
        [title]="app.nombreAplicacion">
        <div class="card-grd-content">
            <h1>{{ app.nombreAplicacion }}</h1>
            <p [innerHTML]="app.descripcionAplicacion"></p>
            <div class="card-grd-actions">
                <a (click)="ingresarPlataforma(app)" class="card-grd-button">
                    {{ 'PLATAFORMA.ENTRAR' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>
