<!-- <div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Basic Component">
            <h5>Ingresar a la Plataforma</h5>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <form action="">
                        <div *ngFor="let app of aplicaciones">
                            <button type="submit" class="btn btn-primary mb-2"
                                (click)="ingresarPlataforma(app)">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </app-card>
    </div>
</div> -->

<div class="card-grid">
    <div class="card" *ngFor="let app of aplicaciones" [style.backgroundImage]="'url(app.imagenInicio)'"
        [title]="app.nombreAplicacion">
        <div class="card-content">
            <h3>{{ app.nombreAplicacion }}</h3>

            <p>{{ app.descripcion }}</p>

            <a (click)="ingresarPlataforma(app)" class="card-button">
                Acceder
            </a>
        </div>
    </div>
</div>
