<div class="row">
    <div class="col-sm-12">
        <div class="card card-header-sticky">
            <div class="card-header">
                <!-- <div class="text-center"> -->
                <h4>{{ 'ROLES.ROLESUSUARIOS.TITLE' | translate }}</h4>
                <hr />
                <!-- </div> -->
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="OnNuevoRegistroClick()" class="btn-NuevoRegistro">
                            {{ 'ROLES.ROLESUSUARIOS.NEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table [dtOptions]="dtColumnSearchingOptions" datatable class="table table-no-lines">
                        <thead>
                            <tr>
                                <th>{{ 'ROLES.ROLESUSUARIOS.FOTO' | translate }}</th>
                                <th>{{ 'ROLES.ROLESUSUARIOS.USUARIO' | translate }}</th>
                                <th>{{ 'ROLES.ROLESUSUARIOS.APLICACIONES' | translate }}</th>
                                <th>{{ 'ROLES.ROLESUSUARIOS.SUITES' | translate }}</th>
                                <th>{{ 'ROLES.ROLESUSUARIOS.ROLES' | translate }}</th>
                                <th>{{ 'ROLES.ROLESUSUARIOS.ESTADOROLE' | translate }}</th>
                                <th>{{ 'PLATAFORMA.OPTIONS' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let usuario of registros; let iUsu = index">
                                <ng-container *ngFor="let app of usuario.aplicaciones; let iApp = index">
                                    <ng-container *ngFor="let suite of app.suites; let iSuite = index">
                                        <ng-container *ngFor="let role of suite.roles; let iRole = index">
                                            <tr>
                                                <td *ngIf="iApp === 0 && iSuite === 0 && iRole === 0"
                                                    [attr.rowspan]="getTotalRoles(usuario)">
                                                    <a style="color: blue; text-decoration: underline; cursor: pointer;"
                                                        (click)="OnEditarUsuarioRolesRegistroClick(usuario.usuarioId)">
                                                        <img [src]="'assets/images/user/' + usuario.fotoUsuario"
                                                            class="img-radius wid-40" alt="User-Profile-Image" />
                                                    </a>
                                                </td>

                                                <td *ngIf="iApp === 0 && iSuite === 0 && iRole === 0"
                                                    [attr.rowspan]="getTotalRoles(usuario)">
                                                    <a style="color: blue; text-decoration: underline; cursor: pointer;"
                                                        (click)="OnEditarUsuarioRolesRegistroClick(usuario.usuarioId)">
                                                        {{ usuario.nombreUsuario }}
                                                    </a>
                                                </td>

                                                <td *ngIf="iSuite === 0 && iRole === 0"
                                                    [attr.rowspan]="getTotalRolesAplicacion(app)">
                                                    {{ app.nombreAplicacion }}
                                                </td>

                                                <td *ngIf="iRole === 0" [attr.rowspan]="suite.roles.length">
                                                    {{ suite.nombreSuite }}
                                                </td>

                                                <td>{{ role.nombreRole }}</td>

                                                <td>{{ role.nomEstado }}</td>

                                                <td style="text-align: center;">
                                                    <div class="d-flex gap-1">
                                                        <button type="button" class="btn btn-icon btn-outline-primary"
                                                            (click)="OnEditarRegistroClick(iRole, iSuite, iApp, iUsu)"
                                                            [ngClass]="role.estadoUsuarioRole ? 'btn-outline-success' : 'btn-outline-primary'"
                                                            [title]="getTooltipRoles(iRole, iSuite, iApp, iUsu)">
                                                            <i class="feather" [ngClass]="role.estadoUsuarioRole ? 'icon-unlock' : 'icon-lock'"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-icon btn-outline-danger"
                                                            (click)="OnEliminarRegistroClick(iRole, iSuite, iApp, iUsu, usuario.nombreUsuario)"
                                                            title="Eliminar">
                                                            <i class="feather icon-trash-2"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </tbody>
                        <!-- <tbody>
                            <ng-container *ngFor="let usuario of registros; let iUsu = index">
                                <ng-container *ngFor="let app of usuario.aplicaciones; let iApp = index">
                                    <ng-container *ngFor="let role of app.roles; let iRole = index">
                                        <tr>
                                            <td *ngIf="iApp === 0 && iRole === 0"
                                                [attr.rowspan]="getTotalRoles(usuario)"><a style="color: blue; text-decoration: underline; cursor: pointer;"
                                                    (click)="OnEditarUsuarioRolesRegistroClick(usuario.usuarioId)">
                                                    <img [src]="'assets/images/user/' + usuario.fotoUsuario"
                                                        class="img-radius wid-40" alt="User-Profile-Image"/></a>
                                            </td>
                                            <td *ngIf="iApp === 0 && iRole === 0"
                                                [attr.rowspan]="getTotalRoles(usuario)"><a style="color: blue; text-decoration: underline; cursor: pointer;"
                                                    (click)="OnEditarUsuarioRolesRegistroClick(usuario.usuarioId)">
                                                    {{ usuario.nombreUsuario }}</a>
                                            </td>
                                            <td *ngIf="iRole === 0" [attr.rowspan]="app.roles.length" class="fw-bold">
                                                {{ app.nombreAplicacion }}
                                            </td>
                                            <td>{{ role.nombreRole }}</td>
                                            <td>{{ role.nomEstado }}</td>
                                            <td style="text-align: center;">
                                                <div class="d-flex gap-1">
                                                    <button type="button"
                                                        class="btn btn-icon btn-outline-primary"
                                                        (click)="OnEditarRegistroClick(iRole, iApp, iUsu)"
                                                        [title]="getTooltipRoles(iRole, iApp, iUsu)">
                                                        <i class="feather icon-edit"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-icon btn-outline-danger"
                                                        (click)="OnEliminarRegistroClick(iRole, iApp, iUsu, usuario.nombreUsuario)"
                                                        title="Eliminar">
                                                        <i class="feather icon-trash-2"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </tbody> -->
                        <!-- <tfoot>
                            <tr>
                                <th> </th>
                                <th>
                                    <input #usuarioId (keyup)="filtrarColumna(0, usuarioId.value)" type="text"
                                        placeholder="{{ 'ROLES.FILTER_IDENTIFICACION' | translate }}" name="filtro-url"
                                        class="form-control" />
                                </th>
                                <th>
                                    <input #nombreAplicacion (keyup)="filtrarColumna(1, nombreAplicacion.value)"
                                        type="text" placeholder="{{ 'ROLES.FILTER_NAME' | translate }}"
                                        name="filtro-nombre" class="form-control" />
                                </th>
                                <th>
                                    <input #nombreAplicacion (keyup)="filtrarColumna(1, nombreAplicacion.value)"
                                        type="text" placeholder="{{ 'ROLES.FILTER_CORREO' | translate }}"
                                        name="filtro-nombre" class="form-control" />
                                </th>
                                <th>
                                    <input #estadoAplicacion (keyup)="filtrarColumna(4, estadoAplicacion.value)"
                                        type="text" placeholder="{{ 'ROLES.FILTRO_STATUS' | translate }}"
                                        name="filtro-estado" class="form-control" />
                                </th>
                                <th> </th>
                            </tr>
                        </tfoot> -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
