<div class="row">
	<div class="col-sm-12">
        <div class="card card-header-sticky">
			<div class="card-header">
                <h4>{{ 'CONTENIDOS.TITLE' | translate }}</h4>
                <hr>
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="nuevoContenido()" class="btn-NuevoContenido">
                            {{ 'CONTENIDOS.NEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table [dtOptions]="dtColumnSearchingOptions" datatable class="table row-border">
						<thead>
                            <tr>
                                <th>{{ 'CONTENIDOS.NAME' | translate }}</th>
                                <th>{{ 'CONTENIDOS.DESCRIPTION' | translate }}</th>
                                <th>{{ 'CONTENIDOS.CONTENIDO' | translate }}</th>
                                <th>{{ 'CONTENIDOS.STATUS' | translate }}</th>
                                <th>{{ 'PLATAFORMA.OPTIONS' | translate }}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let contenido of contenidoEL">
								<td>
									{{ contenido.nombreContenido }}
								</td>
								<td>
									{{ contenido.descripcionContenido }}
								</td>
								<td>
									{{ contenido.contenido }}
								</td>
								<td>
									{{ getEstado(contenido.estadoContenido)}}
								</td>
								<td style="text-align: center; width: 10%;">
									<div class="d-flex flex-wrap gap-2">
										<button type="button" class="btn btn-icon btn-outline-primary d-inline-flex btnEdit"
                                            (click)="editarContenido(contenido.contenidoId)" title="{{ 'CONTENIDOS.UPDATE' | translate }}">
											<i class="feather icon-edit"></i>
										</button>
										<button type="button" class="btn btn-icon btn-outline-danger d-inline-flex btnDelet"
                                            (click)="eliminarContenido(contenido.contenidoId, contenido.nombreContenido)" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'CONTENIDOS.DELETE' | translate }}">
											<i class="feather icon-trash-2"></i>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
                        <tfoot>
							<tr>
								<th>
                                    <input #nombreContenido
                                        (keyup)="filtrarColumna(0, nombreContenido.value)"
                                        type="text"
                                        placeholder="{{ 'CONTENIDOS.FILTER_NAME' | translate }}"
                                        name="filtro-nombre"
                                        class="form-control">
                                </th>
								<th>
									<input #descripcionContenido
										(keyup)="filtrarColumna(1, descripcionContenido.value)"
										type="text"
										placeholder="{{ 'CONTENIDOS.FILTER_DESCRIPTION' | translate }}"
										name="filtro-nombre"
										class="form-control">
								</th>
								<th>
									<input #contenido
										(keyup)="filtrarColumna(2, contenido.value)"
										type="text"
										placeholder="{{ 'CONTENIDOS.FILTER_CONTENIDO' | translate }}"
										name="filtro-contenido"
										class="form-control">
								</th>
								<th>
									<input #estadoContenido
										(keyup)="filtrarColumna(3, estadoContenido.value)"
										type="text"
										placeholder="{{ 'CONTENIDOS.FILTER_STATUS' | translate }}"
										name="filtro-estado"
										class="form-control">
								</th>
                                <th>
                                </th>
							</tr>
                        </tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
