    <div class="nav-scroll-wrapper">
        <div class="navbar-content">
            <ul class="nav pcoded-inner-navbar" (clickOutside)="fireOutClick()">
                <ng-container *ngFor="let item of navigationItems">
                    @if (item.type === 'group') {
                    <app-nav-group [item]="item"></app-nav-group>
                    <ng-container *ngFor="let child of item.children">
                        <app-nav-collapse *ngIf="child.type === 'collapse'" [item]="child"></app-nav-collapse>
                        <app-nav-item *ngIf="child.type === 'item'" [item]="child"></app-nav-item>
                    </ng-container>
                    }
                </ng-container>
            </ul>
        </div>
    </div>
