<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
    <aside class="aside-left">
        <div class="card">
            <div class="nav-tabs-custom">
                <button [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'">
                    {{ 'PLATAFORMA.MENU' | translate }}
                </button>
                <button [class.active]="activeTab === 'filters'" (click)="activeTab = 'filters'" *ngIf="hasFiltersSlot">
                    {{ 'PLATAFORMA.FILTERS' | translate }}
                </button>
            </div>

            <ng-container *ngIf="activeTab === 'menu'">
                <app-nav-content [navigationItems]="menuItems"></app-nav-content>
            </ng-container>
            <ng-container *ngIf="activeTab === 'filters'">
                <div class="p-3" style="height: calc(100vh - 56px)">
                    <!-- falta terminar -->
                </div>
            </ng-container>
        </div>
    </aside>
    <div class="content-area">
        <div class="card">
            <div class="card-header card-header-sticky">
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <h4>{{ 'CONEXIONES.SERVIDORES.TITLE' | translate }}</h4>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="OnNuevoRegistroClick()" class="btn-NuevoRegistro">
                            {{ 'CONEXIONES.SERVIDORES.NEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table [dtOptions]="dtColumnSearchingOptions" datatable class="table row-border">
                        <thead>
                            <tr>
                                <th>{{ 'CONEXIONES.SERVIDORES.NOMBRESERVIDOR' | translate }}</th>
                                <th>{{ 'CONEXIONES.SERVIDORES.DESCRIPCIONSERVIDOR' | translate }}</th>
                                <th>{{ 'CONEXIONES.SERVIDORES.RUTASERVIDOR' | translate }}</th>
                                <th>{{ 'CONEXIONES.SERVIDORES.ESTADOSERVIDOR' | translate }}</th>
                                <th>{{ 'PLATAFORMA.OPTIONS' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reg of registros">
                                <td>
                                    {{ reg.nombreServidor }}
                                </td>
                                <td>
                                    {{ reg.descripcionServidor }}
                                </td>
                                <td>
                                    {{ reg.rutaServidor }}
                                </td>
                                <td>
                                    {{ reg.nomEstado }}
                                </td>
                                <td style="text-align: center; width: 10%">
                                    <div class="d-flex flex-wrap gap-2">
                                        <button type="button"
                                            class="btn btn-icon btn-outline-primary d-inline-flex btnEdit"
                                            (click)="OnEditarRegistroClick(reg.servidorId?? 0)"
                                            title="{{ 'CONEXIONES.SERVIDORES.UPDATE' | translate }}">
                                            <i class="feather icon-edit"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-icon btn-outline-danger d-inline-flex btnDelet"
                                            (click)="OnEliminarRegistroClick(reg.servidorId?? 0, reg.nombreServidor?? '')"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="{{ 'CONEXIONES.SERVIDORES.DELETE' | translate }}">
                                            <i class="feather icon-trash-2"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input #nombreServidor (keyup)="filtrarColumna(1, nombreServidor.value)" type="text"
                                        placeholder="{{ 'CONEXIONES.SERVIDORES.FILTER_NAMESERVIDOR' | translate }}"
                                        name="filtro-nombreServidor" class="form-control" />
                                </th>
                                <th>
                                    <input #descripcionServidor (keyup)="filtrarColumna(2, descripcionServidor.value)"
                                        type="text"
                                        placeholder="{{ 'CONEXIONES.SERVIDORES.FILTER_DESCRIPCIONSERVIDOR' | translate }}"
                                        name="filtro-descripcionServidor" class="form-control" />
                                </th>
                                <th>
                                    <input #rutaServidor (keyup)="filtrarColumna(2, rutaServidor.value)" type="text"
                                        placeholder="{{ 'CONEXIONES.SERVIDORES.FILTER_RUTASERVIDOR' | translate }}"
                                        name="filtro-rutaServidor" class="form-control" />
                                </th>
                                <th>
                                    <input #estadoServidor (keyup)="filtrarColumna(4, estadoServidor.value)" type="text"
                                        placeholder="{{ 'CONEXIONES.SERVIDORES.FILTRO_STATUSSERVIDOR' | translate }}"
                                        name="filtro-estadoServidor" class="form-control" />
                                </th>
                                <th>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
