<div class="row">
    <div class="col-sm-12">
        <div class="card card-header-sticky">
            <div class="card-header">
                <h4>{{ 'SEGUIMIENTOS.TITLE' | translate }}</h4>
                <hr />
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="OnNuevoRegistroClick()" class="btn-NuevoRegistro">
                            {{ 'SEGUIMIENTOS.NEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table [dtOptions]="dtColumnSearchingOptions" datatable class="table row-border">
                        <thead>
                            <tr>
                                <th>{{ 'SEGUIMIENTOS.NOMBRESEGUIMIENTO' | translate }}</th>
                                <th>{{ 'SEGUIMIENTOS.DESCRIPCIONSEGUIMIENTO' | translate }}</th>
                                <th>{{ 'SEGUIMIENTOS.ESTADOSEGUIMIENTO' | translate }}</th>
                                <th>{{ 'PLATAFORMA.OPTIONS' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reg of registros">
                                <td>
                                    {{ reg.nombreSeguimiento }}
                                </td>
                                <td>
                                    {{ reg.descripcionSeguimiento }}
                                </td>
                                <td>
                                    {{ reg.nomEstado }}
                                </td>
                                <td style="text-align: center; width: 10%">
                                    <div class="d-flex flex-wrap gap-2">
                                        <button type="button"
                                            class="btn btn-icon btn-outline-primary d-inline-flex btnEdit"
                                            (click)="OnEditarRegistroClick(reg.seguimientoId?? 0)"
                                            title="{{ 'SEGUIMIENTOS.UPDATE' | translate }}">
                                            <i class="feather icon-edit"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-icon btn-outline-danger d-inline-flex btnDelet"
                                            (click)="OnEliminarRegistroClick(reg.seguimientoId?? 0, reg.nombreSeguimiento?? '')"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="{{ 'SEGUIMIENTOS.DELETE' | translate }}">
                                            <i class="feather icon-trash-2"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input #nombreSeguimiento (keyup)="filtrarColumna(1, nombreSeguimiento.value)"
                                        type="text" placeholder="{{ 'SEGUIMIENTOS.FILTER_NAMESEGUIMIENTO' | translate }}"
                                        name="filtro-nombreSeguimiento" class="form-control" />
                                </th>
                                <th>
                                    <input #descripcionSeguimiento
                                        (keyup)="filtrarColumna(2, descripcionSeguimiento.value)" type="text"
                                        placeholder="{{ 'SEGUIMIENTOS.FILTER_DESCRIPCIONSEGUIMIENTO' | translate }}"
                                        name="filtro-descripcionSeguimiento" class="form-control" />
                                </th>
                                <th>
                                    <input #estadoSeguimiento (keyup)="filtrarColumna(4, estadoSeguimiento.value)"
                                        type="text" placeholder="{{ 'SEGUIMIENTOS.FILTRO_STATUSSEGUIMIENTO' | translate }}"
                                        name="filtro-estadoSeguimiento" class="form-control" />
                                </th>
                                <th>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

