<div class="row">
  <div>
    <div class="col-sm-2">
      <div class="col-sm-12">
        <div style="text-align: center; width: 10%">
          <div class="d-flex justify-content-center align-items-center gap-2 flex-nowrap">
            <button type="button" class="btn btn-icon btn-outline-primary btnEdit" title="Modificar Usuario">
              <i class="feather icon-edit"></i>
            </button>
            <button type="button" class="btn btn-icon btn-outline-danger btnDelet" title="Eliminar Usuario">
              <i class="feather icon-trash-2"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="isNavigation">
        <div class="col-sm-2">
          <app-navigation
            class="pcoded-navbar"
            [ngClass]="{
              'navbar-collapsed': navCollapsed,
              'theme-horizontal': this.gradientConfig['layout'] === 'horizontal',
              'mob-open': navCollapsedMob
            }"
            (NavCollapsedMob)="navMobClick()"
          ></app-navigation>
          <app-nav-bar
            class="navbar pcoded-header navbar-expand-lg navbar-light"
            (NavCollapse)="this.navCollapsed = !this.navCollapsed"
            (NavCollapsedMob)="navMobClick()"
          ></app-nav-bar>
        </div>
        <div class="col-sm-12" *ngIf="!isNavigation"> </div>
      </div>
      <div class="col-sm-10">
        <div class="col-sm-12">
          <div class="card card-header-sticky">
            <div class="card-header">
              <h4>Usuarios del Sistema</h4>
              <hr />
              <div class="row col-sm-12">
                <div class="col-sm-6">
                  <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="col-sm-6 justify-content-end d-flex">
                  <button type="button" (click)="OnNuevoUsuarioClick()" class="btn-NuevoUsuario"> Nuevo Usuario </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table [dtOptions]="dtColumnSearchingOptions" datatable class="table row-border">
                  <thead>
                    <tr>
                      <th>Foto</th>
                      <th>Identificación</th>
                      <th>Nombre</th>
                      <th>UserName</th>
                      <th>Estado</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let usuario of usuariosSearch">
                      <td>
                        <img
                          src="assets/images/user/{{ usuario.fotoUsuario }}"
                          alt="user image"
                          class="img-radius align-top m-r-15"
                          style="width: 25px"
                        />
                      </td>
                      <td>
                        {{ usuario.identificacionUsuario }}
                      </td>
                      <td>
                        {{ usuario.nombreUsuario }}
                      </td>
                      <td>
                        {{ usuario.userNameUsuario }}
                      </td>
                      <td>
                        {{ getEstado(usuario.estadoUsuario) }}
                      </td>
                      <td style="text-align: center; width: 10%">
                        <div class="d-flex justify-content-center align-items-center gap-2 flex-nowrap">
                          <button
                            type="button"
                            class="btn btn-icon btn-outline-primary btnEdit"
                            (click)="OnEditarUsuarioClick(usuario.usuarioId)"
                            title="Modificar Usuario"
                          >
                            <i class="feather icon-edit"></i>
                          </button>
                          <button
                            type="button"
                            class="btn btn-icon btn-outline-danger btnDelet"
                            (click)="OnEliminarUsuarioClick(usuario.usuarioId, usuario.nombreUsuario)"
                            title="Eliminar Usuario"
                          >
                            <i class="feather icon-trash-2"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th> </th>
                      <th>
                        <input
                          #identificacionUsuario
                          (keyup)="filtrarColumna(1, identificacionUsuario.value)"
                          type="number"
                          placeholder="Filtro identificación"
                          name="filtro-identificacion"
                          class="form-control"
                        />
                      </th>
                      <th>
                        <input
                          #nombreUsuario
                          (keyup)="filtrarColumna(2, nombreUsuario.value)"
                          type="text"
                          placeholder="Filtro nombre"
                          name="filtro-nombre"
                          class="form-control"
                        />
                      </th>
                      <th>
                        <input
                          #userNameUsuario
                          (keyup)="filtrarColumna(3, userNameUsuario.value)"
                          type="text"
                          placeholder="Filtro descripción"
                          name="filtro-descripcion"
                          class="form-control"
                        />
                      </th>
                      <th>
                        <input
                          #estadoUsuario
                          (keyup)="filtrarColumna(6, estadoUsuario.value)"
                          type="text"
                          placeholder="Filtro estado"
                          name="filtro-estado"
                          class="form-control"
                        />
                      </th>
                      <th> </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
