<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
    <aside class="aside-left">
        <div class="card">
            <div class="nav-tabs-custom">
                <button>
                    {{ 'PLATAFORMA.MENU' | translate }}
                </button>
            </div>

            <ng-container>
                <app-nav-content [navigationItems]="menuItems | async"></app-nav-content>
            </ng-container>
        </div>
    </aside>

    <div class="content-area">
        <div class="card">
            <div class="card-header card-header-sticky">
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <h4>{{ 'ROLES.ROLESUSUARIOS.GESTION.TITLE' | translate }}</h4>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex gap-3">
                        <button *ngIf="!modoEdicion" type="button" class="btn-NuevoRegistro"
                            (click)="onGestionarRegistroClick(validationForm)">
                            {{ 'ROLES.ROLESUSUARIOS.GESTION.CREATE' | translate }}
                            <i class="feather ms-2" [ngClass]="modoEdicion ? 'icon-edit' : 'icon-plus'"></i>
                        </button>
                        <button *ngIf="modoEdicion" type="button" class="btn-NuevoRegistro"
                            (click)="onGestionarRegistroClick(validationForm)">
                            {{ 'ROLES.ROLESUSUARIOS.GESTION.UPDATE' | translate }}
                            <i class="feather ms-2" [ngClass]="modoEdicion ? 'icon-edit' : 'icon-plus'"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-table content-scroll-wrapper">
            <div class="card-header">
                <h4 *ngIf="!modoEdicion">{{ 'ROLES.ROLESUSUARIOS.GESTION.NEW' | translate }}</h4>
                <h4 *ngIf="modoEdicion">{{ 'ROLES.ROLESUSUARIOS.GESTION.UPDATE' | translate }}</h4>
            </div>
            <div class="card-body">
                <form #validationForm="ngForm" class="editForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="usuarioId">{{
                                    'ROLES.ROLESUSUARIOS.GESTION.USUARIO' | translate }}</label>
                                <select class="form-control input-md" name="usuarioId" id="usuarioId"
                                    [ngClass]="{ 'is-invalid': !usuarioId.valid && (usuarioId.dirty || usuarioId.touched || isSubmit) }"
                                    #usuarioId="ngModel" required [(ngModel)]="FormRegistro.usuarioId"
                                    (change)="onUsuarioChangeClick($event)">
                                    <option value="">{{ 'ROLES.ROLESUSUARIOS.GESTION.USUARIOHOLDER' | translate }}
                                    </option>
                                    <option [value]="user.usuarioId" *ngFor="let user of usuarios">{{ user.nombreUsuario
                                        }}</option>
                                </select>
                                <label *ngIf="!usuarioId.valid && (usuarioId.dirty || usuarioId.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    {{ 'PLATAFORMA.REQUIRED' | translate }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="aplicacionId">{{
                                    'ROLES.ROLESUSUARIOS.GESTION.APLICACION' | translate }}</label>
                                <select class="form-control input-md" name="aplicacionId" id="aplicacionId"
                                    [ngClass]="{ 'is-invalid': !aplicacionId.valid && (aplicacionId.dirty || aplicacionId.touched || isSubmit) }"
                                    #aplicacionId="ngModel" required [(ngModel)]="FormRegistro.aplicacionId"
                                    (change)="onAplicacionChangeClick($event)">
                                    <option value="">{{ 'ROLES.ROLESUSUARIOS.GESTION.APLICACIONHOLDER' | translate }}
                                    </option>
                                    <option [value]="app.aplicacionId" *ngFor="let app of aplicaciones">{{
                                        app.nombreAplicacion }}</option>
                                </select>
                                <label
                                    *ngIf="!aplicacionId.valid && (aplicacionId.dirty || aplicacionId.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    {{ 'PLATAFORMA.REQUIRED' | translate }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="codigoSuite">{{
                                    'ROLES.ROLESUSUARIOS.GESTION.SUITE' | translate }}</label>
                                <select class="form-control input-md" name="codigoSuite" id="codigoSuite"
                                    [ngClass]="{ 'is-invalid': !codigoSuite.valid && (codigoSuite.dirty || codigoSuite.touched || isSubmit) }"
                                    #codigoSuite="ngModel" required [(ngModel)]="FormRegistro.suiteId"
                                    (change)="onSuiteChangeClick($event)">
                                    <option value="">{{ 'ROLES.ROLESUSUARIOS.GESTION.SUITEHOLDER' | translate }}
                                    </option>
                                    <option [value]="suite.suiteId" *ngFor="let suite of suitesApp">{{ suite.nombreSuite
                                        }}</option>
                                </select>
                                <label
                                    *ngIf="!codigoSuite.valid && (codigoSuite.dirty || codigoSuite.touched || isSubmit)"
                                    class="error jquery-validation-error small form-text invalid-feedback">
                                    {{ 'PLATAFORMA.REQUIRED' | translate }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="nombreRole">{{
                                    'ROLES.ROLESUSUARIOS.GESTION.ROLES' | translate }}</label>
                                <div class="checkbox-container" *ngFor="let role of rolesAplicacion">
                                    <label>
                                        <input class="checkbox-custom" type="checkbox" [value]="role.roleId"
                                            (change)="onSeleccionarRegistroChange($event, role)"
                                            [checked]="role.checked" />
                                        {{ role.nombreRole }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
