  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <div class="nav-right">
            <app-language-selector></app-language-selector>
        </div>
    </div>
</nav><br><br>
<h1 class="page-title text-center">
    {{ 'PLATAFORMA.TITULO_GRID_SUITES' | translate }}  {{ nomAplicacion }}
</h1>
<div class="card-grid-apps">
    <div class="card-grd" *ngFor="let suite of suites" [style.backgroundImage]="'url(' + suite.imagenInicio + ')'"
        [title]="suite.nombreSuite">
        <div class="card-grd-content">
            <h1>{{ suite.nombreSuite }}</h1>
            <p [innerHTML]="suite.descripcionSuite"></p>
            <div class="card-grd-actions">
                <a (click)="ingresaSuiteaplicacion(suite)" class="card-grd-button">
                    {{ 'PLATAFORMA.ENTRAR' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>

