<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
    <aside class="aside-left">
        <div class="card">
            <div class="nav-tabs-custom">
                <button [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'">
                    {{ 'PLATAFORMA.MENU' | translate }}
                </button>
                <button [class.active]="activeTab === 'filters'" (click)="activeTab = 'filters'" *ngIf="hasFiltersSlot">
                    {{ 'PLATAFORMA.FILTERS' | translate }}
                </button>
            </div>

            <ng-container *ngIf="activeTab === 'menu'">
                <app-nav-content [navigationItems]="menuItems"></app-nav-content>
            </ng-container>
            <ng-container *ngIf="activeTab === 'filters'">
                <div class="p-3 filtros-scroll-wrapper">
                    <DIV class="text-center">
                        <h6>{{ 'APLICACIONES.FILTROS.TITULO' | translate }}</h6>
                    </DIV>
                    <div class="filtro">
                        <small>{{ 'APLICACIONES.FILTROS.FILTROCODIGO' | translate }}</small>
                        <select (change)="onFiltroCodigoChangeClick($event)" class="form-control" required>
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option [value]="app.codigoAplicacion" *ngFor="let app of aplicaciones">
                                {{ app.codigoAplicacion }}</option>
                        </select>
                    </div>
                    <div class="filtro">
                        <small>{{ 'APLICACIONES.FILTROS.FILTRONOMBRE' | translate }}</small>
                        <select (Change)="onFiltroNombreChangeClick($event)" class="form-control" required>
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option [value]="app.nombreAplicacion" *ngFor="let app of aplicaciones">
                                {{ app.nombreAplicacion }}</option>
                        </select>
                    </div>
                    <div class="filtro">
                        <small>{{ 'APLICACIONES.FILTROS.FILTRODECRIPCION' | translate }}</small>
                        <input type="text" (keyup)="onFiltroDescripcionChangeClick($event)" class="form-control"
                            placeholder="{{ 'APLICACIONES.FILTROS.DESCRIPCIONCHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'APLICACIONES.FILTROS.FILTROESTADO' | translate }}</small>
                        <select (change)="onFiltroEstadoChangeClick($event)" class="form-control" required>
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option value="true">{{ 'PLATAFORMA.ACTIVE' | translate }}</option>
                            <option value="false">{{ 'PLATAFORMA.INACTIVE' | translate }}</option>
                        </select>
                    </div>
                </div>
            </ng-container>
        </div>
    </aside>

    <div class="content-area">
        <div class="card">
            <div class="card-header card-header-sticky">
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <h4>{{ 'APLICACIONES.TITLE' | translate }}</h4>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="OnNuevaAplicaicionClick()" class="btn-NuevoRegistro">
                            {{ 'APLICACIONES.NEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-table content-scroll-wrapper">
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtColumnSearchingOptions" [dtTrigger]="dtTrigger" class="table row-border" #datatableElement>
                        <thead>
                            <tr>
                                <th>{{ 'APLICACIONES.CODE' | translate }}</th>
                                <th>{{ 'APLICACIONES.NAME' | translate }}</th>
                                <th>{{ 'APLICACIONES.DESCRIPTION' | translate }}</th>
                                <th>{{ 'APLICACIONES.STATUS' | translate }}</th>
                                <th>{{ 'PLATAFORMA.OPTIONS' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let app of aplicacionesFiltrado">
                                <td>{{ app.codigoAplicacion }}</td>
                                <td>{{ app.nombreAplicacion }}</td>
                                <td>{{ app.descripcionAplicacion }}</td>
                                <td>{{ app.nomEstado }}</td>
                                <td class="text-center" style="width: 10%">
                                    <div class="d-flex flex-wrap gap-2">
                                        <button type="button" class="btn btn-icon btn-outline-primary btnEdit"
                                            (click)="OnEditarAplicaicionClick(app.aplicacionId ?? 0)"
                                            title="{{ 'APLICACIONES.UPDATE' | translate }}">
                                            <i class="feather icon-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-icon btn-outline-danger btnDelet"
                                            (click)="OnEliminarAplicaicionClick(app.aplicacionId ?? 0, app.nombreAplicacion ?? '')"
                                            title="{{ 'APLICACIONES.DELETE' | translate }}">
                                            <i class="feather icon-trash-2"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input #codigoAplicacion (keyup)="filtrarColumna(0, codigoAplicacion.value)"
                                        type="text" placeholder="{{ 'APLICACIONES.FILTER_CODE' | translate }}"
                                        class="form-control" />
                                </th>
                                <th>
                                    <input #nombreAplicacion (keyup)="filtrarColumna(1, nombreAplicacion.value)"
                                        type="text" placeholder="{{ 'APLICACIONES.FILTER_NAME' | translate }}"
                                        class="form-control" />
                                </th>
                                <th>
                                    <input #descripcionAplicacion
                                        (keyup)="filtrarColumna(2, descripcionAplicacion.value)" type="text"
                                        placeholder="{{ 'APLICACIONES.FILTER_DESCRIPTION' | translate }}"
                                        class="form-control" />
                                </th>
                                <th>
                                    <input #estadoAplicacion (keyup)="filtrarColumna(3, estadoAplicacion.value)"
                                        type="text" placeholder="{{ 'APLICACIONES.FILTRO_STATUS' | translate }}"
                                        class="form-control" />
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
