<app-nav-bar (NavCollapse)="onNavCollapse()" (NavCollapsedMob)="onNavCollapsedMob()"></app-nav-bar>

<div class="app-wrapper">
    <aside class="sidebar-wrapper" style="overflow: hidden;">
        <div class="card" style="padding-left: 18px !important;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{ active: activeTab === 'menu' }"
                        (click)="activeTab = 'menu'">Menú</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{ active: activeTab === 'filters' }"
                        (click)="activeTab = 'filters'">Filtros</a>
                </li>
            </ul>
            <div class="tab-content mt-2">
                <div *ngIf="activeTab === 'menu'">
                    <ng-scrollbar class="scrollbar-wrapper">
                        <app-nav-content [navigationItems]="menuItems"></app-nav-content>
                    </ng-scrollbar>
                </div>
                <div *ngIf="activeTab === 'filters'">
                    <!-- Filtros específicos del módulo Aplicaciones -->
                    <div class="p-2">
                        <label>Filtro personalizado:</label>
                        <input class="form-control" [(ngModel)]="filtroPersonalizado" placeholder="Buscar..." />
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <div class="content-wrapper">
        <div class="card card-header-sticky">
            <div class="card-header">
                <h4>{{ 'APLICACIONES.TITLE' | translate }}</h4>
                <hr />
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="OnNuevaAplicaicionClick()" class="btn-NuevoRegistro">
                            {{ 'APLICACIONES.NEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table [dtOptions]="dtColumnSearchingOptions" datatable class="table row-border">
                        <thead>
                            <tr>
                                <th>{{ 'APLICACIONES.CODE' | translate }}</th>
                                <th>{{ 'APLICACIONES.NAME' | translate }}</th>
                                <th>{{ 'APLICACINES.DESCRIPTION' | translate }}</th>
                                <th>{{ 'APLICACIONES.STATUS' | translate }}</th>
                                <th>{{ 'PLATAFORMA.OPTIONS' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let app of aplicaciones">
                                <td>{{ app.codigoAplicacion }}</td>
                                <td>{{ app.nombreAplicacion }}</td>
                                <td>{{ app.descripcionAplicacion }}</td>
                                <td>{{ app.nomEstado }}</td>
                                <td class="text-center" style="width: 10%">
                                    <div class="d-flex flex-wrap gap-2">
                                        <button type="button" class="btn btn-icon btn-outline-primary btnEdit"
                                            (click)="OnEditarAplicaicionClick(app.aplicacionId ?? 0)"
                                            title="{{ 'APLICACIONES.UPDATE' | translate }}">
                                            <i class="feather icon-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-icon btn-outline-danger btnDelet"
                                            (click)="OnEliminarAplicaicionClick(app.aplicacionId ?? 0, app.nombreAplicacion ?? '')"
                                            title="{{ 'APLICACIONES.DELETE' | translate }}">
                                            <i class="feather icon-trash-2"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input #codigoAplicacion (keyup)="filtrarColumna(0, codigoAplicacion.value)"
                                        type="text" placeholder="{{ 'APLICACIONES.FILTER_CODE' | translate }}"
                                        class="form-control" />
                                </th>
                                <th>
                                    <input #nombreAplicacion (keyup)="filtrarColumna(1, nombreAplicacion.value)"
                                        type="text" placeholder="{{ 'APLICACIONES.FILTER_NAME' | translate }}"
                                        class="form-control" />
                                </th>
                                <th>
                                    <input #descripcionAplicacion
                                        (keyup)="filtrarColumna(2, descripcionAplicacion.value)" type="text"
                                        placeholder="{{ 'APLICACIONES.FILTER_DESCRIPTION' | translate }}"
                                        class="form-control" />
                                </th>
                                <th>
                                    <input #estadoAplicacion (keyup)="filtrarColumna(4, estadoAplicacion.value)"
                                        type="text" placeholder="{{ 'APLICACIONES.FILTRO_STATUS' | translate }}"
                                        class="form-control" />
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
