<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
    <aside class="aside-left">
        <div class="card">
            <div class="nav-tabs-custom">
                <button [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'">
                    {{ 'PLATAFORMA.MENU' | translate }}
                </button>
                <button [class.active]="activeTab === 'filters'" (click)="activeTab = 'filters'">
                    {{ 'PLATAFORMA.FILTERS' | translate }}
                </button>
            </div>

            <ng-container *ngIf="activeTab === 'menu'">
                <app-nav-content [navigationItems]="menuItems"></app-nav-content>
            </ng-container>
            <ng-container *ngIf="activeTab === 'filters'">
                <div class="p-3 filtros-scroll-wrapper">
                    <DIV class="text-center">
                        <h6>{{ 'USUARIOS.FILTROS.TITULO' | translate }}</h6>
                    </DIV>
                    <div class="filtro">
                        <small>{{ 'USUARIOS.FILTROS.IDENTIFICACION' | translate }}</small>
                        <input type="text" (keyup)="onFiltroIdentificacionChangeClick($event)" class="form-control"
                            placeholder="{{ 'USUARIOS.FILTROS.IDENTIFICACIONCHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'USUARIOS.FILTROS.NOMBRE' | translate }}</small>
                        <input type="text" (keyup)="onFiltroNombreChangeClick($event)" class="form-control"
                            placeholder="{{ 'USUARIOS.FILTROS.NOMBREHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'USUARIOS.FILTROS.CORREO' | translate }}</small>
                        <input type="text" (keyup)="onFiltroCorreoChangeClick($event)" class="form-control"
                            placeholder="{{ 'USUARIOS.FILTROS.CORREOHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'USUARIOS.FILTROS.USERNAME' | translate }}</small>
                        <input type="text" (keyup)="onFiltroUsernameChangeClick($event)" class="form-control"
                            placeholder="{{ 'USUARIOS.FILTROS.USERNAMEHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'USUARIOS.FILTROS.DECRIPCION' | translate }}</small>
                        <input type="text" (keyup)="onFiltroDescripcionChangeClick($event)" class="form-control"
                            placeholder="{{ 'USUARIOS.FILTROS.DESCRIPCIONCHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'USUARIOS.FILTROS.ESTADO' | translate }}</small>
                        <select (change)="onFiltroEstadoChangeClick($event)" class="form-control" required>
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option value="true">{{ 'PLATAFORMA.ACTIVE' | translate }}</option>
                            <option value="false">{{ 'PLATAFORMA.INACTIVE' | translate }}</option>
                        </select>
                    </div>
                </div>
            </ng-container>
        </div>
    </aside>

    <div class="content-area">
        <div class="card">
            <div class="card-header card-header-sticky">
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <h4>{{ 'USUARIOS.TITLE' | translate }}</h4>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="OnNuevoRegistroClick()" class="btn-NuevoRegistro">
                            {{ 'USUARIOS.NEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-table content-scroll-wrapper">
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtColumnSearchingOptions" [dtTrigger]="dtTrigger" class="table row-border" #datatableElement>
                        <thead>
                            <tr>
                                <th>{{ 'USUARIOS.FOTO' | translate }}</th>
                                <th>{{ 'USUARIOS.IDENTIFICACION' | translate }}</th>
                                <th>{{ 'USUARIOS.NAME' | translate }}</th>
                                <th>{{ 'USUARIOS.CORREO' | translate }}</th>
                                <th>{{ 'USUARIOS.USERNAME' | translate }}</th>
                                <th>{{ 'USUARIOS.STATUS' | translate }}</th>
                                <th>{{ 'PLATAFORMA.OPTIONS' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reg of registrosFiltrado">
                                <td>
                                    <img src="assets/images/user/{{ reg.fotoUsuario }}" class="img-radius wid-40"
                                        alt="User-Profile-Image" />
                                    <!-- {{ reg.fotoUsuario }} -->
                                </td>
                                <td>
                                    {{ reg.identificacionUsuario }}
                                </td>
                                <td>
                                    {{ reg.nombreUsuario }}
                                </td>
                                <td>
                                    {{ reg.correoUsuario }}
                                </td>
                                <td>
                                    {{ reg.userNameUsuario }}
                                </td>
                                <td>
                                    {{ reg.nomEstado }}
                                </td>
                                <td style="text-align: center; width: 10%">
                                    <div class="d-flex flex-wrap gap-2">
                                        <button type="button"
                                            class="btn btn-icon btn-outline-primary d-inline-flex btnEdit"
                                            (click)="OnEditarRegistroClick(reg.usuarioId?? 0)"
                                            title="{{ 'USUARIOS.UPDATE' | translate }}">
                                            <i class="feather icon-edit"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-icon btn-outline-danger d-inline-flex btnDelet"
                                            (click)="OnEliminarRegistroClick(reg.usuarioId?? 0, reg.nombreUsuario?? '')"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="{{ 'USUARIOS.DELETE' | translate }}">
                                            <i class="feather icon-trash-2"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    <input #identificacionUsuario (keyup)="filtrarColumna(0, identificacionUsuario.value)"
                                        type="text" placeholder="{{ 'USUARIOS.FILTER_IDENTIFICACION' | translate }}"
                                        name="filtro-url" class="form-control" />
                                </th>
                                <th>
                                    <input #nombreUsuario (keyup)="filtrarColumna(1, nombreUsuario.value)"
                                        type="text" placeholder="{{ 'USUARIOS.FILTER_NAME' | translate }}"
                                        name="filtro-nombre" class="form-control" />
                                </th>
                                                                <th>
                                    <input #correoUsuario (keyup)="filtrarColumna(1, correoUsuario.value)"
                                        type="text" placeholder="{{ 'USUARIOS.FILTER_CORREO' | translate }}"
                                        name="filtro-nombre" class="form-control" />
                                </th>
                                <th>
                                    <input #userNameUsuario
                                        (keyup)="filtrarColumna(2, userNameUsuario.value)" type="text"
                                        placeholder="{{ 'USUARIOS.FILTER_USERNAME' | translate }}"
                                        name="filtro-nombre" class="form-control" />
                                </th>
                                <th>
                                    <input #estadoUsuario (keyup)="filtrarColumna(4, estadoUsuario.value)"
                                        type="text" placeholder="{{ 'USUARIOS.FILTRO_STATUS' | translate }}"
                                        name="filtro-estado" class="form-control" />
                                </th>
                                <th>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
