<div class="row">
    <div class="col-sm-12">
        <div class="card card-header-sticky">
            <div class="card-header">
                <h4>{{ 'TICKETS.REQUERIMIENTOS.TITLE' | translate }}</h4>
                <hr />
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <app-breadcrumb></app-breadcrumb>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="OnNuevoRegistroClick()" class="btn-NuevoRegistro">
                            {{ 'TICKETS.REQUERIMIENTOS.NEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table [dtOptions]="dtColumnSearchingOptions" datatable class="table row-border">
                        <thead>
                            <tr>
                                <th>{{ 'TICKETS.REQUERIMIENTOS.NOMBREREQUERIMIENTO' | translate }}</th>
                                <th>{{ 'TICKETS.REQUERIMIENTOS.DESCRICIONREQUERIMIENTO' | translate }}</th>
                                <th>{{ 'TICKETS.REQUERIMIENTOS.ESTADOREQUERIMIENTO' | translate }}</th>
                                <th>{{ 'PLATAFORMA.OPTIONS' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reg of registros">
                                <td>
                                    {{ reg.nombreRequerimiento }}
                                </td>
                                <td>
                                    {{ reg.descripcionRequerimiento }}
                                </td>
                                <td>
                                    {{ reg.nomEstado }}
                                </td>
                                <td style="text-align: center; width: 10%">
                                    <div class="d-flex flex-wrap gap-2">
                                        <button type="button"
                                            class="btn btn-icon btn-outline-primary d-inline-flex btnEdit"
                                            (click)="OnEditarRegistroClick(reg.requerimientoId?? 0)"
                                            title="{{ 'TICKETS.REQUERIMIENTOS.UPDATE' | translate }}">
                                            <i class="feather icon-edit"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-icon btn-outline-danger d-inline-flex btnDelet"
                                            (click)="OnEliminarRegistroClick(reg.requerimientoId?? 0, reg.nombreRequerimiento?? '')"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="{{ 'TICKETS.REQUERIMIENTOS.DELETE' | translate }}">
                                            <i class="feather icon-trash-2"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input #nombreRequerimiento (keyup)="filtrarColumna(1, nombreRequerimiento.value)"
                                        type="text" placeholder="{{ 'TICKETS.REQUERIMIENTOS.FILTER_NAMEREQUERIMIENTO' | translate }}"
                                        name="filtro-nombreRequerimiento" class="form-control" />
                                </th>
                                <th>
                                    <input #descripcionRequerimiento
                                        (keyup)="filtrarColumna(2, descripcionRequerimiento.value)" type="text"
                                        placeholder="{{ 'TICKETS.REQUERIMIENTOS.FILTER_DESCRIPCIONREQUERIMIENTO' | translate }}"
                                        name="filtro-descripcionRequerimiento" class="form-control" />
                                </th>
                                <th>
                                    <input #estadoRequerimiento (keyup)="filtrarColumna(4, estadoRequerimiento.value)"
                                        type="text" placeholder="{{ 'TICKETS.REQUERIMIENTOS.FILTRO_STATUSREQUERIMIENTO' | translate }}"
                                        name="filtro-estadoRequerimiento" class="form-control" />
                                </th>
                                <th>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

