<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
    <aside class="aside-left">
        <div class="card">
            <div class="nav-tabs-custom">
                <button [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'">
                    {{ 'PLATAFORMA.MENU' | translate }}
                </button>
                <button [class.active]="activeTab === 'filters'" (click)="activeTab = 'filters'" *ngIf="hasFiltersSlot">
                    {{ 'PLATAFORMA.FILTERS' | translate }}
                </button>
            </div>

            <ng-container *ngIf="activeTab === 'menu'">
                <app-nav-content [navigationItems]="menuItems"></app-nav-content>
            </ng-container>
            <ng-container *ngIf="activeTab === 'filters'">
                <!-- <div class="p-3 filtros-scroll-wrapper">
                    <h6 class="filtros-title">{{ 'APLICACIONES.FILTROS.TITULO' | translate }}</h6>
                    <div class="filtro">
                        <small>{{ 'APLICACIONES.FILTROS.FILTROCODIGO' | translate }}</small>
                        <select (change)="onFiltroCodigoChangeClick($event)" class="form-control form-select">
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option [value]="app.codigoAplicacion" *ngFor="let app of aplicaciones">
                                {{ app.codigoAplicacion }}
                            </option>
                        </select>
                    </div>
                    <div class="filtro">
                        <small>{{ 'APLICACIONES.FILTROS.FILTRONOMBRE' | translate }}</small>
                        <select (change)="onFiltroNombreChangeClick($event)" class="form-control form-select">
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option [value]="app.nombreAplicacion" *ngFor="let app of aplicaciones">
                                {{ app.nombreAplicacion }}
                            </option>
                        </select>
                    </div>
                    <div class="filtro">
                        <small>{{ 'APLICACIONES.FILTROS.FILTRODECRIPCION' | translate }}</small>
                        <input type="text" (keyup)="onFiltroDescripcionChangeClick($event)" class="form-control form-input"
                            placeholder="{{ 'APLICACIONES.FILTROS.DESCRIPCIONCHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'APLICACIONES.FILTROS.FILTROESTADO' | translate }}</small>
                        <select (change)="onFiltroEstadoChangeClick($event)" class="form-control form-select">
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option value="true">{{ 'PLATAFORMA.ACTIVE' | translate }}</option>
                            <option value="false">{{ 'PLATAFORMA.INACTIVE' | translate }}</option>
                        </select>
                    </div>
                </div> -->
            </ng-container>
        </div>
    </aside>

    <div class="content-area">
        <div class="card card-table content-scroll-wrapper">
            <div class="card-body">
                <app-data-table
                    [data]="registros"
                    [columns]="['nombreRequerimiento', 'descripcionRequerimiento', 'nomEstado']"
                    [columnTitles]="[
                      'TICKETS.REQUERIMIENTOS.NOMBREREQUERIMIENTO' | translate,
                      'TICKETS.REQUERIMIENTOS.DESCRICIONREQUERIMIENTO'| translate,
                      'TICKETS.REQUERIMIENTOS.ESTADOREQUERIMIENTO' | translate
                    ]"
                    [idField]="'requerimientoId'"
                    [tableTitle]="'TICKETS.REQUERIMIENTOS.TITLE' | translate"
                    [showAvatar]="false"
                    [showActions]="true"
                    [showNewButton]="true"
                    [showViewButton]="false"
                    [showEditButton]="true"
                    [showDeleteButton]="true"
                    [newButtonLabel]="'TICKETS.REQUERIMIENTOS.NEW' | translate"
                    [exportLabel]="'PLATAFORMA.EXCEL' | translate"
                    (newRecord)="OnNuevoRegistroClick()"
                    (editRecord)="OnEditarRegistroClick($event)"
                    (deleteRecord)="OnEliminarRegistroClick($event)">
                </app-data-table>
            </div>
        </div>
    </div>
</div>

