<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
    <aside class="aside-left">
        <div class="card">
            <div class="nav-tabs-custom">
                <button [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'">
                    {{ 'PLATAFORMA.MENU' | translate }}
                </button>
                <button [class.active]="activeTab === 'filters'" (click)="activeTab = 'filters'" *ngIf="hasFiltersSlot">
                    {{ 'PLATAFORMA.FILTERS' | translate }}
                </button>
            </div>

            <ng-container *ngIf="activeTab === 'menu'">
                <app-nav-content [navigationItems]="menuItems"></app-nav-content>
            </ng-container>
            <ng-container *ngIf="activeTab === 'filters'">
                <div class="p-3" style="height: calc(100vh - 56px)">
                    <!-- falta terminar -->
                </div>
            </ng-container>
        </div>
    </aside>
    <div class="content-area">
        <div class="card">
            <div class="card-header card-header-sticky">
                <div class="row col-sm-12">
                    <div class="col-sm-6">
                        <h4>{{ 'TICKETS.TITLE' | translate }}</h4>
                    </div>
                    <div class="col-sm-6 justify-content-end d-flex">
                        <button type="button" (click)="OnNuevoRegistroClick()" class="btn-NuevoRegistro">
                            {{ 'TICKETS.NEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card content-scroll-wrapper">
            <div class="card-body">
                <div class="table-responsive">
                    <table [dtOptions]="dtColumnSearchingOptions" datatable class="table row-border">
                        <thead>
                            <tr>
                                <th>{{ 'TICKETS.NOMBRETICKET' | translate }}</th>
                                <th>{{ 'TICKETS.DESCRIPCIONTICKET' | translate }}</th>
                                <th>{{ 'TICKETS.ESTADOTICKET' | translate }}</th>
                                <th>{{ 'PLATAFORMA.OPTIONS' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reg of registros">
                                <td>
                                    {{ reg.nombreTicket }}
                                </td>
                                <td>
                                    {{ reg.descripcionTicket }}
                                </td>
                                <td>
                                    {{ reg.nomEstado }}
                                </td>
                                <td style="text-align: center; width: 10%">
                                    <div class="d-flex flex-wrap gap-2">
                                        <button type="button"
                                            class="btn btn-icon btn-outline-primary d-inline-flex btnEdit"
                                            (click)="OnEditarRegistroClick(reg.ticketId?? 0)"
                                            title="{{ 'TICKETS.UPDATE' | translate }}">
                                            <i class="feather icon-edit"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-icon btn-outline-danger d-inline-flex btnDelet"
                                            (click)="OnEliminarRegistroClick(reg.ticketId?? 0, reg.nombreTicket?? '')"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="{{ 'TICKETS.DELETE' | translate }}">
                                            <i class="feather icon-trash-2"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input #nombreTicket (keyup)="filtrarColumna(1, nombreTicket.value)" type="text"
                                        placeholder="{{ 'TICKETS.FILTER_NAMETICKET' | translate }}"
                                        name="filtro-nombreTicket" class="form-control" />
                                </th>
                                <th>
                                    <input #descripcionTicket (keyup)="filtrarColumna(2, descripcionTicket.value)"
                                        type="text" placeholder="{{ 'TICKETS.FILTER_DESCRIPCIONTICKET' | translate }}"
                                        name="filtro-descripcionTicket" class="form-control" />
                                </th>
                                <th>
                                    <input #estadoTicket (keyup)="filtrarColumna(4, estadoTicket.value)" type="text"
                                        placeholder="{{ 'TICKETS.FILTRO_STATUSTICKET' | translate }}"
                                        name="filtro-estadoTicket" class="form-control" />
                                </th>
                                <th>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
