<div class="auth-wrapper align-items-stretch aut-bg-img">
    <app-full-screen-slider [tipoSlider]="1"></app-full-screen-slider>
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <div class="nav-right">
                <app-language-selector></app-language-selector>
            </div>
        </div>
    </nav>
    <div class="card card-body login-overlay"><br>
        <img src="assets/images/auth/auth-logo-dark.png" alt="logo" class="img-fluid mb-4 d-block d-xl-none d-lg-none" />
        <h4 class="mb-4 f-w-400">{{ 'AUTENTICACION.CHANGEPASSWORD.TITLE' | translate }}</h4>
        <div class="input-group mb-4">
            <span class="input-group-text" id="basic-addon2"><i class="feather icon-lock"></i></span>
            <input type="password" id="actualPassword" class="form-control"
                placeholder="{{ 'AUTENTICACION.CHANGEPASSWORD.ACTUAL' | translate }}" />
            <span class="input-group-text"><i class="feather icon-eye password-show" style="cursor: pointer;"
                    id="toggleActualPassword"></i></span>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text" id="basic-addon2"><i class="feather icon-lock"></i></span>
            <input type="password" id="newPassword" class="form-control"
                placeholder="{{ 'AUTENTICACION.CHANGEPASSWORD.NEW' | translate }}" />
            <span class="input-group-text"><i class="feather icon-eye password-show" style="cursor: pointer;"
                    id="toggleNewPassword"></i></span>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text" id="basic-addon2"><i class="feather icon-lock"></i></span>
            <input type="password" id="retypePassword" class="form-control"
                placeholder="{{ 'AUTENTICACION.CHANGEPASSWORD.CONFIRM' | translate }}">
            <span class="input-group-text"><i class="feather icon-eye password-show" style="cursor: pointer;"
                    id="toggleRetypePassword"></i></span>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-NuevoRegistro">"{{ 'AUTENTICACION.CHANGEPASSWORD.CHANGE' | translate}}</button>
        </div>
        <div class="d-grid text-center">
            <p class="mb-0 text-muted">"{{ 'AUTENTICACION.CHANGEPASSWORD.BACK' | translate }} <a
                    [routerLink]="['/autenticacion/login']" class="f-w-400">Regresar</a></p>
        </div><br><br>
        <div class="text-center">
            <p><b>"{{ 'PLATAFORMA.SOCIAL' | translate }}</b></p>
            <button class="btn text-white bg-facebook mb-2 me-2 wid-40 px-0 hei-40 rounded-circle" title="facebook"><i
                    class="fab fa-facebook-f"></i></button>
            <button class="btn text-white bg-googlePlus mb-2 me-2 wid-40 px-0 hei-40 rounded-circle" title="Google"><i
                    class="fab fa-google-plus-g"></i></button>
            <button class="btn text-white bg-twitter mb-2 wid-40 px-0 hei-40 rounded-circle" title="Twitter"><i
                    class="fab fa-twitter"></i></button>
        </div>
        <br><br>
        <div class="card-footer text-center">
            © 2025 D&M Software Solutions SAS.
        </div>
    </div>
</div>
