<app-nav-bar (toggleSidebar)="toggleNav()"></app-nav-bar>
<div class="layout-wrapper">
    <aside class="aside-left">
        <div class="card">
            <div class="nav-tabs-custom">
                <button [class.active]="activeTab === 'menu'" (click)="activeTab = 'menu'">
                    {{ 'PLATAFORMA.MENU' | translate }}
                </button>
                <button [class.active]="activeTab === 'filters'" (click)="activeTab = 'filters'" *ngIf="hasFiltersSlot">
                    {{ 'PLATAFORMA.FILTERS' | translate }}
                </button>
            </div>

            <ng-container *ngIf="activeTab === 'menu'">
                <app-nav-content [navigationItems]="menuItems$"></app-nav-content>
            </ng-container>
            <ng-container *ngIf="activeTab === 'filters'">
                <div class="p-3 filtros-scroll-wrapper">
                    <h6 class="filtros-title">{{ 'SUITES.FILTROS.TITULO' | translate }}</h6>
                    <div class="filtro">
                        <small>{{ 'MODULOS.FILTROS.FILTROCODIGOAPLICACION' | translate }}</small>
                        <select (change)="onFiltroCodigoAplicacionChangeClick($event)" class="form-control form-select">
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option [value]="reg.codigoaplicacion" *ngFor="let reg of aplicaciones">
                                {{ reg.nombreAplicacion }}
                            </option>
                        </select>
                    </div>
                    <div class="filtro">
                        <small>{{ 'SUITES.FILTROS.FILTROSUITE' | translate }}</small>
                        <select (change)="onFiltroSuiteChangeClick($event)" class="form-control form-select">
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option [value]="reg.codigoSuite" *ngFor="let reg of registros">
                                {{ reg.codigoSuite }}
                            </option>
                        </select>
                    </div>
                    <div class="filtro">
                        <small>{{ 'SUITES.FILTROS.FILTRONOMBRE' | translate }}</small>
                        <select (change)="onFiltroNombreChangeClick($event)" class="form-control form-select">
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option [value]="app.codigoSuite" *ngFor="let app of regitstros">
                                {{ app.nombreSuite }}
                            </option>
                        </select>
                    </div>
                    <div class="filtro">
                        <small>{{ 'SUITES.FILTROS.FILTRODECRIPCION' | translate }}</small>
                        <input type="text" (keyup)="onFiltroDescripcionChangeClick($event)"
                            class="form-control form-input"
                            placeholder="{{ 'SUITES.FILTROS.DESCRIPCIONCHOLDER' | translate }}" />
                    </div>
                    <div class="filtro">
                        <small>{{ 'SUITES.FILTROS.FILTROESTADO' | translate }}</small>
                        <select (change)="onFiltroEstadoChangeClick($event)" class="form-control form-select">
                            <option value="todos">{{ 'PLATAFORMA.FILTROTODOS' | translate }}</option>
                            <option value="true">{{ 'PLATAFORMA.ACTIVE' | translate }}</option>
                            <option value="false">{{ 'PLATAFORMA.INACTIVE' | translate }}</option>
                        </select>
                    </div>
                </div>
            </ng-container>
        </div>
    </aside>

    <div class="content-area">
        <div class="card card-table content-scroll-wrapper">
            <div class="card-body">
                <app-data-table
                    [data]="registrosFiltrado"
                    [columns]="['codigoSuite', 'nombreSuite', 'nomAplicacion', 'nomEstado']"
                    [idField]="'suiteId'"
                    [tableTitle]="'SUITES.TITLE' | translate"
                    [columnTitles]="[
                      'SUITES.CODE' | translate,
                      'SUITES.NAME' | translate,
                      'SUITES.APLICACION' | translate,
                      'SUITES.STATUS' | translate
                    ]"
                    [detailColumns]="['descripcionSuite']"
                    [detailTitles]="['SUITES.DESCRIPTION' | translate]"
                    [showDetail]="true"
                    [showAvatar]="false"
                    [showActions]="true"
                    [showNewButton]="true"
                    [showViewButton]="false"
                    [showEditButton]="true"
                    [showDeleteButton]="true"
                    [newButtonLabel]="'SUITES.NEW' | translate"
                    [exportLabel]="'PLATAFORMA.EXCEL' | translate"
                    (newRecord)="OnNuevoRegistroClick()"
                    (editRecord)="OnEditarRegistroClick($event)"
                    (deleteRecord)="OnEliminarRegistroClick($event)">
                </app-data-table>
            </div>
        </div>
    </div>
</div>
