<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <div class="nav-right">
            <app-language-selector></app-language-selector>
        </div>
    </div>
</nav>
<div class="auth-wrapper align-items-stretch aut-bg-img">
    <!-- <div class="card card-body"> -->
        <div class="login-register">
            <div class="auth-content">
                <div class="row text-center">
                    <h3>{{ 'LOGIN.UNLOCKSCREENTITLE' | translate }}</h3>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onLoginUserClick()">
                <div class="input-group mb-4">
                    <span class="input-group-text" id="basic-addon2"><i class="feather icon-lock"></i></span>
                    <input
                    type="password"
                    placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched) }"
                    />
                    @if (passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)) {
                    <div class="invalid-feedback">
                        @if (passwordControl?.errors?.['required']) {
                        <div>{{ 'LOGIN.PASS_REQ' | translate }}</div>
                        }
                    </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-danger" type="button" (click)="cancelarUnlock()">{{ 'PLATAFORMA.CANCEL' | translate }}</button>&nbsp;
                        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid || loading">
                            <span *ngIf="!loading">{{ 'LOGIN.UNLOCKSCREEN' | translate }}</span>
                            <span *ngIf="loading">
                                <span class="spinner-border spinner-border-sm"></span>
                                {{ 'PLATAFORMA.CHARGING' | translate }}
                            </span>
                        </button>
                    </div>
                </div>
                @if (error) {
                    <div class="alert alert-danger mt-3 mb-0">{{ error }}</div>
                }
                </form>
            </div>
        </div>
    <!-- </div> -->
</div>
